.floating-right {
  position: fixed;
  bottom: 25px;
  right: 25px;
  z-index: 2;
}

.main-elevation {
  background: #fff;
}


/* Show whole content of seconday text*/
.mdc-list.extendSecondaryText .mdc-list-item {
  height: initial !important;
}

.extendSecondaryText .mdc-list-item__secondary-text {
  white-space: initial;
}