.app__searchHeader {
  color: black;
  background-color: white;

  .mdc-top-app-bar__action-item {
    color: black;
    background-color: white;
  }

  input {
    margin-left: 10px;
    font-size: 1.25rem;
    line-height: 2rem;
    font-weight: 500;
    width: stretch;
    border: none;
    outline: none;
  }
}