.DS_Store

# Logs
logs
*.log

# Dependency directory
# Deployed apps should consider commenting this line out:
# see https://npmjs.org/doc/faq.html#Should-I-check-my-node_modules-folder-into-git
node_modules
npm-debug.log

#Compiled sources
build
server/public/reach
server/public/upload

client.min.js

#Secret stuff
server/config/auth.js
