.DS_Store

# Logs
logs
*.log

# Dependency directory
# Deployed apps should consider commenting this line out:
# see https://npmjs.org/doc/faq.html#Should-I-check-my-node_modules-folder-into-git
node_modules
npm-debug.log

#Compiled sources
build
src/server/public

src/client/client.min.js
src/server/public/OrderMe/client.min.js

dist/*

#Secret stuff
server/config/auth.js

#Build output
lib
src/server/tests/data/testDb.json
