.dishes {
  .mdl-card {
    background: url(./assets/img/icon_food_blue.png) top -10% right -5% no-repeat;
    background-size: 150px;

    .mdl-list__item--three-line .mdl-list__item-text-body {
    padding-left: 55px;
  }

  a {
      text-decoration: none
    }
  }  
}

.dish-details{
  .mdl-card__supporting-text {
    width: 400px;
    margin: 0 auto;
  }
}