.orders {
  .mdl-data-table td {
    border-top: none;
    border-bottom: none;
  }

  .mdl-card__title{
    background: url("./assets/img/background.jpg");
    color: white;

    .smaller {
      font-size: 16px;
    }
  }

  .mdl-card__actions{
    a {
        color: inherit
    }
  }

  .mdl-card__menu{
    color: #fff;
  }

  .in-line {
    display: inline;
  }

  .mdl-dialog{
    .mdl-dialog__content{

      .is-disabled{
        .mdl-textfield__label{
          color: rgba(0,0,0,.55)
        }

        .mdl-textfield__input{
          color: inherit;
        }
      }

      .mdl-list__item {
        padding: 0;
      }

      .mdl-data-table {
        white-space: pre-line;

        .tbl-btn{
          width: 16px;
          max-width: 16px;

          button{
            margin-right: -15px;
          }
        }

        .mdl-data-table__cell--non-numeric{
          padding-right: 0;
          padding-left: 5px;
        }
      }
    }
  }

  .split .mdl-dialog .mdl-dialog__content .mdl-data-table{
    thead tr th:nth-child(2n+1){
      padding-right: 10px;

    }

    tbody tr td:nth-child(2n+1){
      max-width: 16px;
      width: 16px;
      padding:0;
      
      button {
        float: none
      }
    }   

    thead tr th:nth-child(2){
      padding-left:0;
      padding-right: 5px;
    }

    tbody tr td:nth-child(2){
      padding-left:0;
      padding-right: 5px;
    }   
  }
}