.orders {
  .mdl-data-table td {
    border-top: none;
    border-bottom: none;
  }

  .mdl-card__title{
    background: url("./assets/img/background.jpg");
    color: white;

    .smaller {
      font-size: 16px;
    }
  }

  .mdl-card__actions{
    a {
        color: inherit
    }
  }

  .mdl-card__menu{
    color: #fff;

    a button{
      color: white;
    }
  }

  .in-line {
    display: inline;
  }
}