.order-details{

  .mdl-data-table td {
    border-top: none;
    border-bottom: none;
  }

  .mdl-card {
    width: 100%;

    .mdl-card__title{
      .mdl-button--icon {
        margin-right: 15px;
      }
    }

    .mdl-data-table {
      .mdl-data-table__cell--non-numeric{
          white-space: pre-line;
      }

      thead tr th:nth-child(2n+1){
        padding-right: 10px;
      }

      tbody tr td:nth-child(2n+1){
        max-width: 16px;
        width: 16px;
        padding:0;
      }    
    }

    .selected-dishes .mdl-data-table{
      tbody tr td:nth-child(2){
        max-width: 25px;
        width: 25px;
      }
      thead tr th:nth-child(2){
        max-width: 25px;
        width: 25px;
      }
    }
  }
}

.center-card {
  max-width: 500px;
  margin: auto;
}