.settings {
  
  .mdl-card{
    margin-bottom: 15px;

    .mdl-card__title {
      .material-icons{
        margin-right: 15px;
      }
    }

    a {
      text-decoration: none
    }

    .mdl-card__supporting-text {
      width: initial;
    }

  }

}
