.dish-collection {

  .card{
    margin-top: 15px;
  }

  .card-img-top{
        box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.46);

    }
    .card-title{
      color: black;
    }

    table {
      width: 100%;
      margin-bottom: 30px;

      tbody {
        width: 100%;

        .cost {
          text-align: right;
        }
      }
    }

    .flip {
      -webkit-perspective: 800;
              perspective: 800;
    }
    .flip .card.flipped {
      -webkit-transform: rotatey(-180deg);
              transform: rotatey(-180deg);
    }
    .flip .card {
      -webkit-transform-style: preserve-3d;
      -webkit-transition: 0.5s;
      transform-style: preserve-3d;
      transition: 0.5s;
    }
    .flip .card .face {
      -webkit-backface-visibility: hidden ;
        backface-visibility: hidden ;
       z-index: 2;
    }
    .flip .card .front {
       z-index: 1;
    }

    .flip .card .back {
      -webkit-transform: rotatey(-180deg);
              transform: rotatey(-180deg);
    }

    .card-columns {
      column-count: 3;
    }

  @media screen and (max-width: 1500px) and (min-width: 992px){
    .card-columns {
      column-count: 2;
    }
  }

  @media screen and (max-width: 991px){
    .card-columns {
      column-count: 1;
    }
  }
}
