.griddle{
  margin-top: 25px;

  .griddle-next {
    text-align: right;
    width: 34%;
    float: left;
    min-height: 1px;
    margin-top: 5px;

    button{
      background-color: white;
      color: #2196F3;
      border:none
    }
  }

  .griddle-page{
    text-align: center;
    width: 33%;
    float: left;
    min-height: 1px;
    margin-top: 5px;

    select{
      width: 25px;
    }
  }

  .griddle-previous {
    width: 33%;
    float: left;
    min-height: 1px;
    margin-top: 5px;

    button{
      background-color: white;
      color: #2196F3;
      border:none;
    }
  }

  .griddle-body{
    tbody{
      .standard-row {
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
        text-decoration: none;
        cursor: pointer;
      }

      .standard-row:after {
        background: #90EE90;
        opacity: 0;
        transition: all 0.8s
      }

      .standard-row:active:after {
          opacity: 1;
          transition: 0s
      }

      .standard-row:hover,.standard-row:active {
          background-color: #eeeeee;
      }
    }
  }

  .griddle-filter {
    margin-bottom: 15px;
  }
}
