.navbar {

  .navbar-brand {
    display: inherit;
    width: 50%;

    input {
      margin-left: 5px;
      height: 2em;
    }

    img{
      width: 25px;
      height: 25px;
    }
  }


  @media screen and (min-width: 576px) {
      height: 3em;
  }

  @media screen and (max-width: 575px) {
      padding-top: 5px;
      padding-bottom: 5px;
      .navbar-brand{
        input{
          width: 70%;
        }
      }

  }
}
