.navbar {

  .navbar-brand{
    img{
      width: 25px;
      height: 25px;
    }
  }

  .header {
    display: inherit;
    input {
      margin-bottom: 5px;
    }
  }


  @media screen and (min-width: 576px) {
      height: 3em;

      .header {
        min-width: 400px;
      }
  }

  @media screen and (max-width: 575px) {
      padding-top: 5px;
      padding-bottom: 5px;
      .header{
        input{
          width: 70%;
        }
      }

  }
}
