@import 'order';
@import 'navbar';
@import 'griddle';
@import 'orderModal';
@import 'dishes';
@import 'dishModal';
@import 'settings';
@import 'footer';

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 2em;
  min-height: 93%;
}

.white {
  color: white;
}

.container-fluid{
  margin-top: 40px;
}

.card-link:hover, .card-link:active, .card-link:before {
    color: #5f96f3 !important;
}

blockquote {
  background-color: #E0E0E0;
  padding: 5px 10px;
  border-radius: .2rem;
}

.btn-rnd{
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
  font-size: 1.5em;
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.toast {
  bottom: 10px;
  width: 75%;
  left: 12.5%;
  margin-right: 50px;
  position: fixed;
  z-index: 9999;
}
