@import 'order';
@import 'navbar';
@import 'griddle';
@import 'orderModal';
@import 'dishes';
@import 'dishModal';
@import 'settings';

.container-fluid{
  margin-top: 40px;
}

.card-link:hover, .card-link:active, .card-link:before {
    color: #5f96f3 !important;
}

.btn-rnd{
  width: 2em;
  height: 2em;
  font-size: 2em;
  padding: 0.1em 0 0 0;
  float:right;
  position: fixed;
  border-radius: 50%;
  color: white;
  right:20px;
  bottom: 20px !important;
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.toast {
  bottom: 10px;
  width: 75%;
  left: 12.5%;
  margin-right: 50px;
  position: fixed;
  z-index: 9999;
}
