<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" type="image/png" href="../public/OrderMe/assets/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="../public/OrderMe/assets/favicon-16x16.png" sizes="16x16">
  <title>OrderMe</title>
  <!-- Bootstrap Core CSS -->
  <link href="../public/OrderMe/assets/css/bootstrap.min.css" rel="stylesheet">
  <link href="../public/OrderMe/assets/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>
  <div id="app"></div>
  <script src="../public/socket.io/socket.io.js"></script>
  <script src="../public/OrderMe/client.min.js"></script>
</body>

</html>
